<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Out A Book</title>
</head>
<body>
    <img src="data:<%= books.MIMETYPE %>;base64,<%= books.COVERPATH %>" alt="Book Cover">
    <h1><%= books.TITLE %></h1>
    <h3><%= books.AUTHOR %></h3>
    <button onclick="takeout()">Take Out Book</button>
    <script>
        let f='<%= books.ID %>'
        console.log(f)
        console.log(typeof f)
        let c=parseInt(f)
        let obj={
            bookId: c
        }
        console.log(c)
        function takeout(){
            let x=confirm("Are you sure you want to take out the book?")
            if(x){
                
                fetch('/takenoutbook', {
                    method: 'POST',
                    body: JSON.stringify(obj),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    
                })
                .then(response => response.text())
                .then(text=>{
                    if(text=="Hell Nah"){
                        alert("You can't take out your own book!")
                    }
                })
                .catch(error => {
                    console.error(error);
                });
            }
        }
    </script>
</body>
</html>