<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= books.TITLE %></title>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
    <img src="data:<%= books.MIMETYPE %>;base64,<%= books.COVERPATH %>" alt="Book Cover">
    <h1><%= books.TITLE %></h1>
    <h3><%= books.AUTHOR %></h3>
    <button onclick="returnTheBook()">Return Book</button>
    <div>
        <div id="msgs"></div>
        <input type="text" placeholder="msg" id="msg">
        <button onclick="sendmessage()">Send</button>
    </div>
    <script>
        const socket=io()
        const data="<%= outId %>"
        var data2='<%= msgs %>'
        data2=data2.replace(/&#34;/g, '"');
        data2=data2.substring(1)
        data2=data2.slice(0, -1)
        data2=JSON.parse(data2)
        console.log(typeof data2)
        let name2="<%= name.firstname %>"+" "+"<%= name.lastname %>"
        for(let i in data2){
            let balz=document.createElement("P")
            balz.innerHTML=name2+": "+data2[i].msg
            document.getElementById("msgs").appendChild(balz)
        }
        function sendmessage(){
            var msg=document.getElementById("msg")
            var msgContent=msg.value
            msg.value=""
            socket.emit('private message', {recipientSocketId: data, message: msgContent, book: "<%= books.ID %>"});

        }
        socket.on('private message', (message) => {
            let quadrant=document.createElement("p")
            let name="<%= name.firstname %>"+" "+"<%= name.lastname %>"
            quadrant.innerHTML=name+": "+message
            document.getElementById("msgs").appendChild(quadrant)
            console.log(message)
        });
        function returnTheBook(){
            let n=confirm("Are you sure?")
            console.log(n)
            if(n){

                let x={id:"<%= books.ID %>"}
                var xhr = new XMLHttpRequest();
                var url = "/returnTheBook";
                var params = JSON.stringify(x);
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() {
                    if(xhr.readyState == 4 && xhr.status == 200) {
                        if(xhr.response.test=="no"){
                            alert("You Can't return that, it's not your book!")
                        }else{
                            alert("Returned!")
                        }
                    }
                }
                xhr.send(params);  
            }
        }
    </script>
</body>
</html>